<h1>Sample App</h1>
<div class="center hero-unit">
  <h1>Bienvenue ma geule au Sample App</h1>

  <h2>
    Ici pas de craris ! Que du brut !
  </h2>

  <%= link_to "Aller viens dans mon délire !", signup_path, class: "btn btn-large btn-primary" %>
</div>
